# Import

In [1]:
#Plotly
#!pip install plotly

In [2]:
import pandas as pd
import numpy as np
import re
import datetime
import folium
import json
import random

# math opeations
# import math
# produce random numbers
# import random
# to load json files
import json
# datetime oprations
from datetime import timedelta
# to get web contents
from urllib.request import urlopen

# for numerical analyiss
import numpy as np
# to store and process data in dataframe
import pandas as pd

# for offline ploting
from plotly.offline import plot, iplot, init_notebook_mode
init_notebook_mode(connected=True)

# converter
# from pandas.plotting import register_matplotlib_converters
# register_matplotlib_converters()   

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# to USA states details
# import us

## Extraction of data

In [3]:
annee = "2018"
df = pd.read_csv(f'../data/valeursfoncieres-{annee}.txt', sep = '|',decimal = ',')
df["Date mutation"] = pd.to_datetime(df["Date mutation"], format="%d/%m/%Y")
display(df)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-03,Vente,...,NaN,2,2.0,Appartement,NaN,73.0,4.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-03,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-04,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,S,NaN,949.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-04,Vente,...,NaN,0,1.0,Maison,NaN,163.0,4.0,AG,JARD,420.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-04,Vente,...,NaN,0,1.0,Maison,NaN,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-28,Vente,...,NaN,2,2.0,Appartement,NaN,150.0,4.0,NaN,NaN,NaN
3335288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-03,Vente,...,NaN,1,2.0,Appartement,NaN,34.0,1.0,NaN,NaN,NaN
3335289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-28,Vente,...,NaN,1,4.0,Local industriel. commercial ou assimilé,NaN,60.0,0.0,NaN,NaN,NaN
3335290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-13,Adjudication,...,NaN,2,2.0,Appartement,NaN,54.0,2.0,NaN,NaN,NaN
3335291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-10-17,Vente,...,NaN,1,2.0,Appartement,NaN,11.0,1.0,NaN,NaN,NaN

In [4]:
data = df.copy()

In [5]:
'''
f = open('./valeursfoncieres-2022.txt', 'r')
file_contents = f.read()

file_contents = file_contents.replace('\n','|')
content = [i for i in file_contents.split('|')]
content = [np.NaN if x=='' else x for x in content]
chunk_size = 43
data = [content[i:i+chunk_size] for i in range(0, len(content), chunk_size)]
print(data[2][2])
f.close()
'''

"\nf = open('./valeursfoncieres-2022.txt', 'r')\nfile_contents = f.read()\n\nfile_contents = file_contents.replace('\n','|')\ncontent = [i for i in file_contents.split('|')]\ncontent = [np.NaN if x=='' else x for x in content]\nchunk_size = 43\ndata = [content[i:i+chunk_size] for i in range(0, len(content), chunk_size)]\nprint(data[2][2])\nf.close()\n"

## Creation of a DataFrame

In [6]:
#df = pd.DataFrame(data[1::], columns=data[0])
pd.set_option('display.max_columns', None)
display(data)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-03,Vente,109000.0,13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,1,NaN,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,Appartement,NaN,73.0,4.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-03,Vente,109000.0,13.0,NaN,RUE,1660,GEN LOGEROT,1000.0,BOURG-EN-BRESSE,1,53,NaN,AN,73,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-04,Vente,239300.0,4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,NaN,163.0,4.0,S,NaN,949.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-04,Vente,239300.0,4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,NaN,163.0,4.0,AG,JARD,420.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-01-04,Vente,239300.0,4.0,NaN,RUE,0025,DE LA BARMETTE,1250.0,NIVIGNE ET SURAN,1,95,NaN,AH,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,Maison,NaN,51.0,2.0,AG,JARD,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-28,Vente,1192307.0,1.0,NaN,PAS,2012,CHOISEUL,75002.0,PARIS 02,75,102,NaN,AD,118,NaN,43.0,120.54,44.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,Appartement,NaN,150.0,4.0,NaN,NaN,NaN
3335288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-03,Vente,383000.0,12.0,NaN,RUE,7561,POISSONNIERE,75002.0,PARIS 02,75,102,NaN,AO,85,NaN,9.0,34.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,NaN,34.0,1.0,NaN,NaN,NaN
3335289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-28,Vente,746000.0,18.0,NaN,RUE,8548,STE CROIX BRETONNERIE,75004.0,PARIS 04,75,104,NaN,AH,53,NaN,8.0,63.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,4.0,Local industriel. commercial ou assimilé,NaN,60.0,0.0,NaN,NaN,NaN
3335290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-12-13,Adjudication,645000.0,9.0,NaN,BD,6559,MORLAND,75004.0,PARIS 04,75,104,NaN,AS,74,NaN,101.0,NaN,122.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2.0,Appartement,NaN,54.0,2.0,NaN,NaN,NaN
3335291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2018-10-17,Vente,45000.0,273.0,NaN,RUE,8525,SAINT-DENIS,75002.0,PARIS 02,75,102,NaN,AP,117,NaN,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,Appartement,NaN,11.0,1.0,NaN,NaN,NaN

## Cleaning of data

In [7]:
columns = data.columns
drop_columns =  [columns[0],columns[1],columns[2],columns[3],columns[4],columns[5],columns[6],columns[7],columns[9],columns[12],columns[17],columns[20],columns[23],columns[26],columns[27],columns[28],columns[29],columns[30],columns[31],columns[32],columns[33],columns[37],columns[41]]
data.drop(columns = drop_columns, inplace=True, axis=1)
display(data)

print(drop_columns)

,Date mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Code departement,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,2018-01-03,109000.0,13.0,RUE,1660,GEN LOGEROT,1000.0,1,53,AN,73,1,NaN,2,2.0,Appartement,73.0,4.0,NaN,NaN
1,2018-01-03,109000.0,13.0,RUE,1660,GEN LOGEROT,1000.0,1,53,AN,73,13,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN
2,2018-01-04,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250.0,1,95,AH,186,NaN,NaN,0,1.0,Maison,163.0,4.0,S,949.0
3,2018-01-04,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250.0,1,95,AH,186,NaN,NaN,0,1.0,Maison,163.0,4.0,AG,420.0
4,2018-01-04,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250.0,1,95,AH,186,NaN,NaN,0,1.0,Maison,51.0,2.0,AG,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335287,2018-12-28,1192307.0,1.0,PAS,2012,CHOISEUL,75002.0,75,102,AD,118,43.0,120.54,2,2.0,Appartement,150.0,4.0,NaN,NaN
3335288,2018-12-03,383000.0,12.0,RUE,7561,POISSONNIERE,75002.0,75,102,AO,85,9.0,34.78,1,2.0,Appartement,34.0,1.0,NaN,NaN
3335289,2018-12-28,746000.0,18.0,RUE,8548,STE CROIX BRETONNERIE,75004.0,75,104,AH,53,8.0,63.46,1,4.0,Local industriel. commercial ou assimilé,60.0,0.0,NaN,NaN
3335290,2018-12-13,645000.0,9.0,BD,6559,MORLAND,75004.0,75,104,AS,74,101.0,NaN,2,2.0,Appartement,54.0,2.0,NaN,NaN
3335291,2018-10-17,45000.0,273.0,RUE,8525,SAINT-DENIS,75002.0,75,102,AP,117,57.0,NaN,1,2.0,Appartement,11.0,1.0,NaN,NaN

['Identifiant de document', 'Reference document', '1 Articles CGI', '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 'No disposition', 'Nature mutation', 'B/T/Q', 'Commune', 'Prefixe de section', 'No Volume', '2eme lot', 'Surface Carrez du 2eme lot', '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot', 'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot', 'Identifiant local', 'Nature culture speciale']

In [8]:
data.dtypes

Date mutation                datetime64[ns]
Valeur fonciere                     float64
No voie                             float64
Type de voie                         object
Code voie                            object
Voie                                 object
Code postal                         float64
Code departement                     object
Code commune                          int64
Section                              object
No plan                               int64
1er lot                              object
Surface Carrez du 1er lot           float64
Nombre de lots                        int64
Code type local                     float64
Type local                           object
Surface reelle bati                 float64
Nombre pieces principales           float64
Nature culture                       object
Surface terrain                     float64
dtype: object

In [9]:
#data["Surface terrain"] = data["Surface terrain"].fillna(data["Surface terrain"].median())
display(data)

,Date mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Code departement,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
0,2018-01-03,109000.0,13.0,RUE,1660,GEN LOGEROT,1000.0,1,53,AN,73,1,NaN,2,2.0,Appartement,73.0,4.0,NaN,NaN
1,2018-01-03,109000.0,13.0,RUE,1660,GEN LOGEROT,1000.0,1,53,AN,73,13,NaN,1,3.0,Dépendance,0.0,0.0,NaN,NaN
2,2018-01-04,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250.0,1,95,AH,186,NaN,NaN,0,1.0,Maison,163.0,4.0,S,949.0
3,2018-01-04,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250.0,1,95,AH,186,NaN,NaN,0,1.0,Maison,163.0,4.0,AG,420.0
4,2018-01-04,239300.0,4.0,RUE,0025,DE LA BARMETTE,1250.0,1,95,AH,186,NaN,NaN,0,1.0,Maison,51.0,2.0,AG,420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3335287,2018-12-28,1192307.0,1.0,PAS,2012,CHOISEUL,75002.0,75,102,AD,118,43.0,120.54,2,2.0,Appartement,150.0,4.0,NaN,NaN
3335288,2018-12-03,383000.0,12.0,RUE,7561,POISSONNIERE,75002.0,75,102,AO,85,9.0,34.78,1,2.0,Appartement,34.0,1.0,NaN,NaN
3335289,2018-12-28,746000.0,18.0,RUE,8548,STE CROIX BRETONNERIE,75004.0,75,104,AH,53,8.0,63.46,1,4.0,Local industriel. commercial ou assimilé,60.0,0.0,NaN,NaN
3335290,2018-12-13,645000.0,9.0,BD,6559,MORLAND,75004.0,75,104,AS,74,101.0,NaN,2,2.0,Appartement,54.0,2.0,NaN,NaN
3335291,2018-10-17,45000.0,273.0,RUE,8525,SAINT-DENIS,75002.0,75,102,AP,117,57.0,NaN,1,2.0,Appartement,11.0,1.0,NaN,NaN

In [10]:
#df_prix_moy_m2_dep  = data[data['Surface reelle bati'].notnull()]
#df_prix_moy_m2_dep = df_prix_moy_m2_dep.reset_index(drop = True)
#display(df_prix_moy_m2_dep)
paris = data[(data["Code departement"] == 75) & (data["Type local"] != "Dépendance") & (data["Type local"] != "Local industriel. commercial ou assimilé")].reset_index(drop = True)
paris["Prix mètre carré"] = paris["Valeur fonciere"]/paris["Surface reelle bati"]
display(paris)

,Date mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Code departement,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain,Prix mètre carré
0,2018-01-04,1202000.0,10.0,AV,7250,PERCIER,75008.0,75,108,CJ,3,77.0,159.20,3,2.0,Appartement,120.0,2.0,NaN,NaN,10016.666667
1,2018-01-09,130000.0,20.0,RUE,8520,SAINT CLAUDE,75003.0,75,103,AL,72,206.0,NaN,4,2.0,Appartement,22.0,1.0,NaN,NaN,5909.090909
2,2018-01-03,15000.0,12.0,RUE,9905,VOLTA,75003.0,75,103,AE,136,7.0,8.30,1,2.0,Appartement,9.0,1.0,NaN,NaN,1666.666667
3,2018-01-03,650000.0,174.0,BD,4485,HAUSSMANN,75008.0,75,108,BD,36,59.0,96.58,2,2.0,Appartement,96.0,3.0,NaN,NaN,6770.833333
4,2018-01-05,3000.0,187.0,RUE,3518,DU FAUBOURG SAINT HONORE,75008.0,75,108,AW,27,37.0,NaN,1,2.0,Appartement,58.0,3.0,NaN,NaN,51.724138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44027,2018-12-26,220000.0,14.0,RUE,5702,DES LIONS SAINT PAUL,75004.0,75,104,AQ,127,126.0,NaN,2,2.0,Appartement,29.0,1.0,NaN,NaN,7586.206897
44028,2018-12-28,1192307.0,1.0,PAS,2012,CHOISEUL,75002.0,75,102,AD,118,43.0,120.54,2,2.0,Appartement,150.0,4.0,NaN,NaN,7948.713333
44029,2018-12-03,383000.0,12.0,RUE,7561,POISSONNIERE,75002.0,75,102,AO,85,9.0,34.78,1,2.0,Appartement,34.0,1.0,NaN,NaN,11264.705882
44030,2018-12-13,645000.0,9.0,BD,6559,MORLAND,75004.0,75,104,AS,74,101.0,NaN,2,2.0,Appartement,54.0,2.0,NaN,NaN,11944.444444
44031,2018-10-17,45000.0,273.0,RUE,8525,SAINT-DENIS,75002.0,75,102,AP,117,57.0,NaN,1,2.0,Appartement,11.0,1.0,NaN,NaN,4090.909091

In [11]:
erreur = data[(data["Valeur fonciere"] <= 100000000)&(data["Type local"].notnull())]
paris = erreur[(erreur["Code departement"] == 75)]
display(paris.sort_values('Valeur fonciere').tail(50))

,Date mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Code departement,Code commune,Section,No plan,1er lot,Surface Carrez du 1er lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Surface terrain
3317614,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,185.0,7.0,S,2763.0
3317613,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,140.0,5.0,S,2763.0
3317612,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,213.0,7.0,S,2763.0
3317611,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,232.0,7.0,S,2763.0
3317610,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,226.0,8.0,S,2763.0
3317609,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,223.0,7.0,S,2763.0
3317608,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,103.0,3.0,S,2763.0
3317639,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317638,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317641,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317604,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,225.0,7.0,S,2763.0
3317605,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,250.0,7.0,S,2763.0
3317594,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317606,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,225.0,7.0,S,2763.0
3317595,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317596,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317597,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317551,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,258.0,6.0,S,2763.0
3317552,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,222.0,5.0,S,2763.0
3317553,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,243.0,7.0,S,2763.0
3317598,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317554,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,190.0,7.0,S,2763.0
3317555,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,209.0,7.0,S,2763.0
3317640,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317600,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,105.0,3.0,S,2763.0
3317599,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,252.0,0.0,S,2763.0
3317601,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,25.0,1.0,S,2763.0
3317642,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317643,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317568,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317567,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317566,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317565,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317564,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,106.0,4.0,S,2763.0
3317556,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317563,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317561,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,110.0,4.0,S,2763.0
3317560,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,228.0,7.0,S,2763.0
3317559,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,249.0,7.0,S,2763.0
3317558,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,3.0,Dépendance,0.0,0.0,S,2763.0
3317562,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,180.0,6.0,S,2763.0
3317607,2018-12-21,91600000.0,167.0,BD,5951,MALESHERBES,75017.0,75,117,BS,25,NaN,NaN,0,2.0,Appartement,28.0,1.0,S,2763.0
3267148,2018-01-16,95000000.0,277.0,RUE,8635,SAINT HONORE,75008.0,75,108,BQ,48,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,728.0,0.0,S,607.0
3267149,2018-01-16,95000000.0,277.0,RUE,8635,SAINT HONORE,75008.0,75,108,BQ,48,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,1171.0,0.0,S,607.0
3267150,2018-01-16,95000000.0,277.0,RUE,8635,SAINT HONORE,75008.0,75,108,BQ,48,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,526.0,0.0,S,607.0
3317195,2018-12-04,99000000.0,19.0,RUE,4392,GUILLAUME TELL,75017.0,75,117,AX,134,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,2596.0,0.0,S,1852.0
3317193,2018-12-04,99000000.0,19.0,RUE,4392,GUILLAUME TELL,75017.0,75,117,AX,134,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,5321.0,0.0,S,1852.0
3317194,2018-12-04,99000000.0,19.0,RUE,4392,GUILLAUME TELL,75017.0,75,117,AX,134,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,1529.0,0.0,S,1852.0
3317191,2018-12-04,99000000.0,19.0,RUE,4392,GUILLAUME TELL,75017.0,75,117,AX,134,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,4518.0,0.0,S,1852.0
3317192,2018-12-04,99000000.0,19.0,RUE,4392,GUILLAUME TELL,75017.0,75,117,AX,134,NaN,NaN,0,4.0,Local industriel. commercial ou assimilé,63.0,0.0,S,1852.0

In [12]:
erreur.to_csv(f'../data/annee_traitee/{annee}.csv')